# Install chrony in latest version. Also make sure that NTP tool is removed from the system
#
- name: Remove ntp packages if present
  yum:
    name: [ntp, ntpdate]
    state: removed
  tags: [ntp]

- name: Install chrony in latest version
  yum:
    name: chrony
    state: latest
  tags: [ntp]



# Set up /etc/chrony.conf file
#
- name: Add servers to sync with
  lineinfile:
    path: /etc/chrony.conf
    line: "server {{ item }} iburst"
    state: present
  with_items: "{{ ntp_servers }}"
  notify: restart chronyd
  tags: [ntp]

- name: Remove unspecified servers
  lineinfile:
    path: /etc/chrony.conf
    regexp: "server (?!{{ ntp_servers | join('|') |  replace('.','\\.') }})"
    state: absent
  notify: restart chronyd
  tags: [ntp]



# Make sure that chronyd service is started and enabled on boot
#
- name: Start and enable chronyd service
  service:
    name: chronyd
    state: started
    enabled: yes
  tags: [ntp]
