[mongodb-org-{{ mongodb_version.split('.')[0] }}.{{ mongodb_version.split('.')[1] }}]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ mongodb_version.split('.')[0] }}.{{ mongodb_version.split('.')[1] }}/x86_64/
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-{{ mongodb_version.split('.')[0] }}.{{ mongodb_version.split('.')[1] }}.asc
