[nodesource]
name=Node.js Packages for Enterprise Linux 9 - $basearch
baseurl=https://rpm.nodesource.com/pub_20.x/el/9/$basearch
priority=9
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/NODESOURCE-GPG-SIGNING-KEY-EL
