init_config:

instances:
{% for website in datadog_http_check_websites %}
  - name: {{ website.name }}
    url: {{ website.url }}
    timeout: {{ website.timeout }}
    http_response_status_code: 200
    collect_response_time: true
{% if 'https://' in website.url %}
    disable_ssl_validation: false
{% endif %}

{% endfor %}
