DROP USER IF EXISTS 'root'@'localhost';
DROP USER IF EXISTS 'root'@'{{ mysql_root_host }}';
CREATE USER 'root'@'{{ mysql_root_host }}' IDENTIFIED BY '{{ mysql_root_password }}' REQUIRE SSL;
GRANT ALL PRIVILEGES ON *.* TO 'root'@'{{ mysql_root_host }}' WITH GRANT OPTION;
FLUSH PRIVILEGES;
