[mysql57-community]
name=MySQL 5.7 Community Server
baseurl=http://repo.mysql.com/yum/mysql-5.7-community/el/7/$basearch/
enabled=1
gpgcheck=1
gpgkey=http://pgp.mit.edu/pks/lookup?op=get&search=0x8C718D3B5072E1F5
