{% for item in php_fpm_pools %}
{{ item.slow_log }}
{% for admin_item in item.php_admin_values %}{{ admin_item.value if admin_item.key == 'error_log' else '' }}{% endfor %}

{% endfor %}
{
  rotate 30
  daily
  size 10M
  compress
  delaycompress
  sharedscripts
  missingok
  notifempty
  su root {{ php_fpm_pools[0].user }}
  postrotate
    /bin/systemctl reload php-fpm.service > /dev/null 2>/dev/null || true
  endscript
}
