[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=forking
PIDFile={{ php_install_path }}/var/{{ php_pid_location }}
ExecStart={{ php_install_path }}/sbin/php-fpm --nodaemonize --fpm-config {{ php_fpm_conf_file_path }}
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
