[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=forking
PIDFile={{ php_install_path }}/var/run/php-fpm.pid
ExecStart={{ php_install_path }}/sbin/php-fpm --nodaemonize --fpm-config {{ php_install_path }}/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
