# This is example file managed by Ansible
server {
    listen 443 ssl;
    listen 443 quic reuseport;
    http2 on;
    http3 on;

    server_name example.com dev.example.com;
    root /var/www/example.com/htdocs;

    # SSL configuration
    ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;
    include ssl.conf; # This file contains modern configuration for SSL settings
    quic_retry on;
    add_header Alt-Svc 'h3=":443"; ma=86400';

    # Logging
    error_log /var/www/example.com/logs/nginx-error.log notice;
    access_log /var/www/example.com/logs/nginx-access.log main buffer=64k flush=1m;

    # Your basic website configuration should be placed here
    location / {
        try_files $uri $uri;
    }

    # Handle PHP files
    location ~ \.php$ {
        fastcgi_pass 127.0.0.1:9005;
        # fastcgi_pass unix:/usr/local/php/run/php-fpm.sock;
    	include php-fpm.conf;
    }

    # Include general rules like access hidden files etc.
    include general.conf;
}

server {
    listen 80;
    server_name example.com dev.example.com;
    return 301 https://$host$request_uri;
}
