error_log  logs/error.log warn;
pcre_jit on;
pid {{ nginx_pid_file_path }};
user {{ nginx_user }} {{ nginx_group }};
worker_processes auto;
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};


events {
    multi_accept on;
    worker_connections {{ nginx_worker_connections }};
    use epoll;
}


http {
    include mime.types;
    default_type  application/octet-stream;
    aio on;
    index index.php index.html;
    sendfile on;
    sendfile_max_chunk 256k;
    tcp_nopush on;
    server_tokens off;

    # GZIP configuration
    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_min_length 256;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;

    # Default proxy settings
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_redirect off;

    # Logging
    map $request_uri $loggable {
        "/favicon.ico" 0;
        "/robots.txt" 0;
        default 1;
    }
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for"';

    ############################################################
    #keepalive_timeout  0;
    keepalive_timeout  65;

    # Server blocks for each domain
{% for server in nginx_servers %}
    include server-{{ server.server_name }}{{ '-ssl' if server.https is defined and server.https == true else '' }}.conf;
{% endfor %}

{% if nginx_redirects | length > 0 %}
    # Redirects
    include server-redirects.conf;
{% endif %}
}
