[Unit]
Description=The NGINX HTTP and reverse proxy server
Documentation=http://nginx.org/en/docs/
After=syslog.target network.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile={{ nginx_pid_file_path }}
ExecStartPre={{ nginx_install_path }}/sbin/nginx -t -c {{ nginx_conf_path }}
ExecStart={{ nginx_install_path }}/sbin/nginx -c {{ nginx_conf_path }}
ExecReload={{ nginx_install_path }}/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
