[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile={{ nginx_install_path }}/logs/nginx.pid
ExecStartPre={{ nginx_install_path }}/sbin/nginx -t -c {{ nginx_install_path }}/conf/nginx.conf
ExecStart={{ nginx_install_path }}/sbin/nginx -c {{ nginx_install_path }}/conf/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
