{% if item.upstream is defined %}
upstream {{ item.server_name | replace('.', '_') }} {
{% for upstream in item.upstream %}
    server {{ upstream }};
{% endfor %}
}
{% endif %}

server {
    listen {{ '443 ssl http2' if item.https is defined and item.https == true else nginx_port }};
    server_name {{ item.server_name }} {{ item.server_aliases | join (' ') }};

{% if item.https is defined and item.https == true %}
    ssl_certificate     /var/www/blacksaildivision.com/ssl/cert.pem;
    ssl_certificate_key /var/www/blacksaildivision.com/ssl/privkey.pem;
{% endif %}

    root {{ nginx_websites_directory }}/{{ item.server_name }}/htdocs;

{% if item.logs is not defined or item.logs == true %}
    # Logging
    error_log {{ nginx_websites_directory }}/{{ item.server_name }}/logs/nginx-error.log notice;
    access_log {{ nginx_websites_directory }}/{{ item.server_name }}/logs/nginx-access.log main if=$loggable;
{% else %}
    # Turn off logging
    error_log off;
    access_log off;
{% endif %}

{% if item.rewrites is defined %}
    # Rewrite URLs
{% for rewrite in item.rewrites %}
    rewrite {{ rewrite.regex }} {{ rewrite.replacement }} last;
{% endfor %}
{% endif %}

    location / {
        try_files $uri {{ '/'+item.subdirectory+'$uri' if item.subdirectory is defined  else '' }} {{ '@proxy' if item.proxy_pass is defined and item.proxy_pass == true else '=404' }};
    }

{% if item.proxy_pass_for_php is defined and item.proxy_pass_for_php == true %}
    # Use proxy for all PHP files
    location ~ \.php$ {
        try_files $uri @proxy;
    }
{% endif %}

{% if item.extra_config is defined %}
    # Custom config
    {{ item.extra_config }}
{% endif %}

    # Disable access to hidden files
    location ~ /\. {
        access_log off;
        log_not_found off;
        deny all;
    }

{% if item.proxy_pass is defined and item.proxy_pass == true %}
    location @proxy {
        proxy_pass http://{{ item.server_name | replace('.', '_') }};
    }
{% endif %}
}

    # HTTPS server
    #
    #server {
    #    listen       443 ssl;
    #    server_name  localhost;

    #    ssl_certificate      cert.pem;
    #    ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}

    #https://gist.github.com/kjprince/9496501