# Install/Update Git to desired version
# These tasks will be executed when
#  1. Git is not installed from within this role
#  2. Git is installed but not in desired version
#
- name: Check if Git is installed in required version
  shell: "{{ git_install_path }}/bin/gits --version | awk '{print $3}'"
  ignore_errors: yes
  changed_when: false
  register: git_version_test
  tags: [ git ]

- include_tasks: install.yml
  when: "git_version_test.stdout != git_version"
  tags: [ git ]
