# This file is managed by Ansible
[Unit]
Description=Redis data structure server
Documentation=https://redis.io/documentation
AssertPathExists={{ redis_database_dir }}

[Service]
ExecStart=/usr/local/redis/bin/redis-server /usr/local/redis/redis.conf
ExecStop=/usr/local/redis/bin/redis-cli --tls --cert {{ redis_install_path }}/tls/redis.crt --key {{ redis_install_path }}/tls/redis.key --cacert {{ redis_install_path }}/tls/ca.crt -h {{ redis_bind }} -a "$(grep "^requirepass" /usr/local/redis/redis.conf | awk '{print $2}')" shutdown
Type=notify
User=redis
Group=redis
TimeoutStartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
