[Unit]
Description=The Apache HTTP Server
After=network.target

[Service]
Type=forking
ExecStart={{ httpd_path }}/bin/apachectl -k start
ExecReload={{ httpd_path }}/bin/apachectl -k graceful
ExecStop={{ httpd_path }}/bin/apachectl -k graceful-stop
PIDFile={{ httpd_path }}/logs/httpd.pid
PrivateTmp=true

[Install]
WantedBy=multi-user.target
