{% if item.https is defined and item.https == true %}
<IfModule mod_ssl.c>
{% endif %}
<VirtualHost *:{{ '443' if item.https is defined and item.https == true else httpd_port }}>
{% if item.subdirectory is defined %}
  {% set directory_root = httpd_websites_directory + "/" + item.server_name + "/htdocs/" + item.subdirectory %}
{% else %}
  {% set directory_root = httpd_websites_directory + "/" + item.server_name + "/htdocs" %}
{% endif %}

    ServerName {{ item.server_name }}
{% if item.server_aliases is defined %}
{% for alias in item.server_aliases %}
    ServerAlias {{ alias }}
{% endfor %}
{% endif %}

{% if item.redirect is defined %}
    # Redirect everything permanently to {{ item.redirect }}
    Redirect permanent "/" "{{ item.redirect }}"
{% endif %}

{% if item.redirect_www_to_non_www is defined and item.redirect_www_to_non_www == true %}
    # Redirect www to non-www
    RedirectMatch permanent "^www\.(.*)$" "{{ 'https://' if item.https is defined and item.https == true else 'http://' }}{{ item.server_name }}/"
{% endif %}

{% if item.htdocs is not defined or item.htdocs == true %}
    # Directory settings
    DocumentRoot {{ directory_root }}
    <Directory {{ directory_root }}>
        AllowOverride All
        Require all granted
        Options +FollowSymLinks -Indexes -Includes
    </Directory>
{% endif %}

{% if item.extra_config is defined %}
    # Extra config
{% for config in item.extra_config %}
    {{ config }}
{% endfor %}
{% endif %}

{% if item.php is defined %}
    # PHP-FPM settings
    <Proxy "fcgi://127.0.0.1:{{ item.php.port }}" timeout={{ item.timeout | default(30) }}>
    </Proxy>

    <FilesMatch "\.php$">
        <If "-f %{SCRIPT_FILENAME}">
            SetHandler "proxy:fcgi://127.0.0.1:{{ item.php.port }}"
        </If>
    </FilesMatch>
{% endif %}

{% if item.logs is not defined or item.logs == true %}
    # Logging
    ErrorLog "{{ httpd_websites_directory }}/{{ item.server_name }}/logs/httpd-error.log"
    CustomLog "{{ httpd_websites_directory }}/{{ item.server_name }}/logs/httpd-access.log" common
{% else %}
    # Turn off logging
    ErrorLog /dev/null
    CustomLog /dev/null common
{% endif %}

{% if item.https is defined and item.https == true %}
    # SSL configuration
    SSLEngine on
    SSLCertificateFile "{{ item.cert_file_path }}"
    SSLCertificateKeyFile "{{ item.cert_key_file_path }}"
{% if item.cert_chain_file is defined %}
    SSLCertificateChainFile "{{ item.cert_chain_file }}"
{% endif %}
    <IfModule mod_http2.c>
        Protocols h2 h2c http/1.1
    </IfModule>
{% endif %}

</VirtualHost>
{% if item.https is defined and item.https == true %}
</IfModule>
{% endif %}
