<VirtualHost *:{{ '443' if item.https is defined and item.https == true else httpd_port }}>
{% if item.subdirectory is defined %}
  {% set directory_root = httpd_websites_directory + "/" + item.server_name + "/htdocs/" + item.subdirectory %}
{% else %}
  {% set directory_root = httpd_websites_directory + "/" + item.server_name + "/htdocs" %}
{% endif %}

    ServerName {{ item.server_name }}
{% if item.server_alias is defined %}
    ServerAlias {{ item.server_alias }}
{% endif %}

{% if item.redirect is defined %}
    # Redirect everything permanently to {{ item.redirect }}
    RewriteEngine on
    RewriteCond %{HTTP_HOST} {{ item.server_name }}
    RewriteRule ^/(.*)$ {{ item.redirect }}/$1 [L,R=301]
{% endif %}

{% if item.htdocs is not defined or item.htdocs == true %}
    # Directory settings
    DocumentRoot {{ directory_root }}
    <Directory {{ directory_root }}>
        AllowOverride All
        Require all granted
        Options +FollowSymLinks -Indexes -Includes
    </Directory>
{% endif %}

{% if item.extra_config is defined %}
    # Extra config
{% for config in item.extra_config %}
    {{ config }}
{% endfor %}
{% endif %}

{% if item.php is defined %}
    # PHP-FPM settings
    ProxyPassMatch "^/(.*\.php(/.*)?)$" "fcgi://127.0.0.1:{{ item.php.port }}{{ directory_root }}"
{% endif %}

{% if item.logs is not defined or item.logs == true %}
    # Logging
    ErrorLog "{{ httpd_websites_directory }}/{{ item.server_name }}/logs/httpd-error.log"
    CustomLog "{{ httpd_websites_directory }}/{{ item.server_name }}/logs/httpd-access.log" common
{% else %}
    # Turn off logging
    ErrorLog /dev/null
    CustomLog /dev/null common
{% endif %}

{% if item.https is defined and item.https == true %}
    # SSL configuration
    SSLEngine on
    SSLCertificateFile "{{ item.cert_file_path }}"
    SSLCertificateKeyFile "{{ item.cert_key_file_path }}"
    Protocols h2 h2c http/1.1
{% endif %}

</VirtualHost>
