# Install required tools for compiling OpenSSL from source
#
- name: Install required tools for compiling OpenSSL
  yum:
    name: [libtool, perl-core, zlib-devel]
    state: latest
  tags: [openssl]



# Download and unpack sources
# It's the best to download them from GitHub releases:
# https://github.com/openssl/openssl/releases
#
- name: Download required source files
  get_url:
    dest: "{{ openssl_sources_location }}"
    url: "https://github.com/openssl/openssl/archive/OpenSSL_{{ openssl_version | replace( '.', '_' ) }}.tar.gz"
  tags: [openssl]

- name: Unpack downloaded OpenSSL sources
  unarchive:
    src: "{{ openssl_sources_location }}/openssl-OpenSSL_{{ openssl_version | replace( '.', '_' ) }}.tar.gz"
    dest: "{{ openssl_sources_location }}"
    owner: "{{ openssl_build_user }}"
    group: "{{ openssl_build_group }}"
    copy: no
    creates: "{{ openssl_sources_location }}/openssl-OpenSSL_{{ openssl_version | replace( '.', '_' ) }}"
  tags: [openssl]



# Compile and install OpenSSL
# It will be compiled by using different user than root.
# Install operation  must be executed as sudo user
#
- name: Compile OpenSSL
  command: "{{ item }}"
  args:
    chdir: "{{ openssl_sources_location }}/openssl-OpenSSL_{{ openssl_version | replace( '.', '_' ) }}"
  with_items:
    - "./config --prefix={{ openssl_install_path }} --openssldir={{ openssl_install_path }} shared zlib"
    - make
    - make test
  become: true
  become_user: "{{ openssl_build_user }}"
  tags: [openssl]

- name: Install compiled OpenSSL
  command: make install
  args:
    chdir: "{{ openssl_sources_location }}/openssl-OpenSSL_{{ openssl_version | replace( '.', '_' ) }}"
  tags: [openssl]



# Remove downloaded sources after installation
#
- name: Cleanup downloaded sources
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ openssl_sources_location }}/openssl-OpenSSL_{{ openssl_version | replace( '.', '_' ) }}.tar.gz"
    - "{{ openssl_sources_location }}/openssl-OpenSSL_{{ openssl_version | replace( '.', '_' ) }}"
  tags: [openssl]



# Link libraries
#
- name: Link libraries
  template:
    src: openssl.conf.j2
    dest: "/etc/ld.so.conf.d/openssl-{{ openssl_version }}.conf"
    owner: root
    group: root
    mode: 0644
  notify: reload ldconfig
  tags: [openssl]



# Add new OpenSSL executables to PATH
# It will fix the issue when OpenSSL compiled from source can be overridden by OpenSSL installed with yum
#
- name: Add OpenSSL executables to PATH
  template:
    src: openssl.sh.j2
    dest: /etc/profile.d/openssl.sh
    owner: root
    group: root
    mode: 0644
  tags: [openssl]
