####### CHOOSE IF THIS ROLE SHOULD EXECUTE TASKS FROM GIVEN GROUPS #######

# Should this role use yum tasks for packages management?
centos_manage_yum: yes

# Should this role use groups tasks for linux groups management?
centos_manage_groups: yes

# Should this role use users tasks for linux users management?
centos_manage_users: yes

# Should this role use sudo tasks for linux sudoers file?
centos_manage_sudo: yes

# Should this role use ssh tasks for setting up secure SSH?
centos_manage_ssh: yes

# Should this role use iptables task for setting up firewall?
centos_manage_iptables: yes

# Should this role disable Transparent Huge Pages? ( Should be set to yes on hosts with databaes like MySQL, Oracle, MariaDb, MongoDB etc)
centos_disable_thp: yes

# Should this role manage logrotate scripts?
centos_manage_logrotate: yes





####### YUM TASKS CONFIGURATION #######

# Path to file where Ansible should storage information about list of installed packages.
centos_yum_initial_package_list_path: /etc/yum/initial-packages-list

# List of packages that should be removed from the server
centos_yum_unnecessary_packages:
 - btrfs-progs # leave it if you are using btrfs file system
 - gssproxy # leave it if you are using GSSAPI
 - libgudev1 # allow to connect to WiFi, not necessary on the server
 - mariadb-libs # leave it if you plan to use MariaDB instead of MySQL
 - NetworkManager # dependencies: libgudev1
 - NetworkManager-libnm # dependencies: libgudev1
 - NetworkManager-tui # dependencies: libgudev1
 - NetworkManager-wifi # dependencies: libgudev1
 - postfix # leave it if you plan to use postfix for mails, dependencies: mariadb-libs

# List of core packages that should be updated to latest versions
centos_yum_core_packages:
 - bash
 - binutils
 - ca-certificates
 - centos-release
 - chkconfig
 - coreutils
 - cryptsetup-libs
 - curl # dependencies: libcurl
 - dbus
 - dbus-libs # dependencies: dbus
 - dracut
 - elfutils-libelf # dependencies: elfutils-libs
 - expat
 - filesystem
 - gawk
 - glib2
 - glibc
 - glibc-common # dependencies: glibc
 - gnupg2
 - kmod
 - kmod-libs
 - kpartx
 - krb5-libs
 - libblkid
 - libgcrypt
 - libmount # dependencies: libblkid
 - libffi
 - libgcc
 - libuuid # dependencies: libblkid
 - libstdc++
 - libssh2
 - libtasn1
 - libxml2
 - lua
 - nspr
 - nss
 - nss-softokn
 - nss-softokn-freebl
 - nss-sysinit
 - nss-tools
 - nss-util
 - openldap
 - openssl-libs
 - pam
 - pcre
 - pinentry
 - procps-ng
 - python
 - python-libs # dependencies: python
 - python-pycurl
 - rpm # dependencies rpm-build-libs rpm-libs rpm-python
 - setup
 - shadow-utils
 - systemd
 - systemd-libs # dependencies: systemd
 - systemd-sysv # dependencies: systemd
 - util-linux # dependencies: libblkid
 - tar
 - tzdata
 - xz # dependencies: xz-libs
 - yum # dependencies: python-urlgrabber
 - yum-plugin-fastestmirror
 - zlib

# List of other packages that should be updated to latest versions
centos_yum_other_packages:
 - audit # Dependencies: audit-libs
 - authconfig # dependencies: openssl
 - bind-libs-lite
 - bind-license # dependencies: bind-libs-lite, dhclient, dracut-network, kexec-tools
 - biosdevname
 - cronie
 - cronie-anacron # dependencies: cronie
 - crontabs # dependencies: cronie
 - device-mapper-persistent-data
 - dhclient # depenencies: bind-libs-lite
 - dmidecode
 - dracut-network # dependencies: dracut, iproute, dhclient, bind-libs-lite
 - dracut-config-rescue # dependencies: dracut
 - e2fsprogs # dependencies: e2fsprogs-libs libcom_err libss
 - epel-release
 - ethtool
 - file # dependencies: file-libs
 - freetype
 - grub2 # dependencies: grub2-tools
 - grubby
 - hwdata
 - iproute
 - iprutils
 - iputils
 - initscripts
 - irqbalance
 - kbd # dependencies: iproute
 - kernel
 - kernel-tools
 - kernel-tools-libs # dependencies: kernel-tools
 - kexec-tools # dependencies: dhclient, bind-libs-lite
 - libdrm
 - libgomp
 - libnetfilter_conntrack # dependencies: dhclient dracut-network firewalld initscripts iproute iptables kbd kexec-tools plymout plymouth-scripts
 - libpciaccess # dependencies: libdrm plymouth plymouth-scripts
 - lsscsi
 - lvm2 # dependencies: device-mapper-persistent-data
 - make
 - microcode_ctl
 - mozjs17
 - openssh # dependencies: openssh-clients, openssh-server
 - openssh-clients
 - openssh-server
 - openssl
 - os-prober
 - parted
 - pciutils-libs
 - plymouth # dependencies plymouth-core-libs
 - plymouth-scripts
 - polkit
 - python-perf
 - rdma
 - rsyslog
 - selinux-policy
 - selinux-policy-targeted # depenency of selinux-policy
 - sudo # dependencies: vim-minimal
 - tuned # dependencies: python-perf
 - vim-minimal
 - virt-what
 - yum-utils

# List of additional tools that are missing from CentOS minimal installation but are super useful
centos_yum_additional_tools:
 - net-tools # add netstat tool
 - libselinux-python # required for Ansible when creating public key





####### GROUPS TASKS CONFIGURATION #######

# Path to file where initial list of available groups is stored
centos_groups_initial_groups_list_path: /etc/initial-group-list

# List of groups to remove from the system
centos_groups_to_remove: []

# List of available groups in the system
# In www group we usually have all applications that writes to files like php, httpd etc.
centos_groups_available:
 - www





####### USERS TASKS CONFIGURATION #######

# Path to file where initial list of existing users is stored
centos_users_initial_users_list_path: /etc/initial-users-list

# List of users to remove from the system
centos_users_to_remove: []

# List of available users
# If you want to give sudo power to the user, add him to "wheel" group
# Password should NOT be stored in plain text. To make it secure you should override it variable file and encrypt it with Ansible Vault
# If generate_ssh_key is set to yes, user will have 4096 bit RSA key in his profile
centos_users_available:
  - {
      username: developer,
      groups: 'wheel,www',
      password: "{{ centos_users_developer_password }}",
      generate_ssh_key: yes
    }

# You can't use plain text user passwords with Ansible
# Password must by encrypted with crypt with following command:
# python -c "from passlib.hash import sha512_crypt; import getpass; print sha512_crypt.encrypt(getpass.getpass())"
# Make sure that you have passlib package installed ( sudo pip install passlib )
# Please remember to use Ansible Vault for keeping such credentials in a safe way
centos_users_developer_password: "$6$rounds=656000$DeNu.bf92WDgbQIW$olUwR2s0Oz92c/PFKdBSedZNJS80APVsFkxExoOACwMDMBrM7d.6DHSpx8wW7kBL3QLfCXSyf2O6MQj.sXUnN/"

# Authorised keys to add to user
# Path to file must be the path to your public key, not private!
centos_users_authorized_keys:
  - {
    username: developer,
    path_to_file: "{{ centos_users_developer_authorized_key_path }}"
  }

# To make it simpler to use in vars file, we extracted path to authorized key for developer account as separate variable
centos_users_developer_authorized_key_path: ~/.ssh/id_rsa.pub





####### SUDO TASKS CONFIGURATION #######

# Should wheel group use sudo with password or without password?
# Security recommendation is to set this variable to "yes"
centos_groups_wheel_password_required: yes





####### SSH TASKS CONFIGURATION #######

# Path to SSH config file
centos_ssh_config_file: /etc/ssh/sshd_config

# Turn on or off authentication with public key (valid values: "yes" | "no")
centos_ssh_authentication_public_key: "yes"

# Turn on or off authentication with passwords (valid values: "yes" | "no")
centos_ssh_authentication_password: "no"

# Turn on or off GSS API authentication (valid values: "yes" | "no")
centos_ssh_authentication_gss_api: "no"

# Turn on or off Kerberos authentication (valid values: "yes" | "no")
centos_ssh_authentication_kerberos: "no"

# Turn on or off PAM-based authentication (valid values: "yes" | "no")
# If you will set centos_ssh_authentication_password to "no", you should set this to "no" as well to trully disable password authentication.
centos_ssh_challenge_response: "no"

# Turn on or off logging in as root (valid values: "yes" | "no")
centos_ssh_login_as_root: "no"

# Turn on or off logging for users with empty password (valid values: "yes" | "no")
centos_ssh_login_with_empty_password: "no"

# Turn on or off strict mode
centos_ssh_strict_mode: "yes"

# List of users that are able to login via SSH. Leave it empty ( value:  [] )to turn this feature off (all users are able to login)
centos_ssh_allowed_users:
  - developer

# Turn on or off ignoring .rhosts and .shosts files (valid values: "yes" | "no")
centos_ssh_ignore_rhosts: "yes"

# Turn on or off X11 Forwarding (valid values: "yes" | "no")
centos_ssh_x11_forwarding: "no"

# Setup key exchange algorithm. Default is the safest one, but if you need some compatilibity with other tools, please check http://ssh-comparison.quendi.de/comparison/kex.html this website
centos_ssh_key_exchange_algorithms:
  - curve25519-sha256@libssh.org

# List of keys for ssh server authentication. The defaults are the safest one. Path ( /etc/ssh ) should be omited
centos_ssh_server_key_authentications:
  - ssh_host_ed25519_key
  - ssh_host_rsa_key

# List of SSH ciphers. The default are the safest one.
centos_ssh_ciphers:
  - chacha20-poly1305@openssh.com
  - aes256-gcm@openssh.com
  - aes128-gcm@openssh.com
  - aes256-ctr
  - aes192-ctr
  - aes128-ctr

# List of MACs. The default are the safest one.
centos_ssh_macs:
  - hmac-sha2-512-etm@openssh.com
  - hmac-sha2-256-etm@openssh.com
  - hmac-ripemd160-etm@openssh.com
  - umac-128-etm@openssh.com
  - hmac-sha2-512
  - hmac-sha2-256
  - hmac-ripemd160
  - umac-128@openssh.com





####### IPTABLES TASKS CONFIGURATION #######

# Should port scanning attempts be blocked?
centos_iptables_enable_port_scan_protection: yes

# Should fragemented packages be dropped?
centos_iptables_drop_fragmented_packages: yes

# Should ping of death attack be blocked?
centos_iptables_enable_ping_of_death_protection: yes

# Should SYN packets be checked? Prevent SYN flood
centos_iptables_force_syn_packets_check: yes

# Open UDP ports for outgoing traffic
centos_iptables_outgoing_udp_ports:
  - 53 # DNS port. It's required for resolving domains etc.
  - 123 # NTP port. It's required for proper time synchronisation.

# Open UDP ports for incoming traffic
centos_iptables_incoming_udp_ports: []

# Open TCP ports for outgoing traffic
centos_iptables_outgoing_tcp_ports:
  - 22 # SSH port. Useful when you are using GIT for fetching repositories via SSH
  - 80 # HTTP port. It's required for curl, yum etc.
  - 443 # HTTPS port. It's required for curl etc.

# Open TCP ports for incoming traffic
centos_iptables_incoming_tcp_ports:
  - 22 # SSH port. It's required for SSH access to the server.
  - 80 # HTTP port. Mostly used by httpd or nginx. If you don't have any web server, don't enable that port.
  - 443 # HTTPS port. Mostly used by httpd or nginx. If you don't have any web server with SSL, don't enable that port.

# Additional iptables rules (each rule is one line in firewall file)
centos_iptables_extra_rules: []





####### LOGROTATE TASKS CONFIGURATION #######
# By default the list is empty, as there are no important directories that should be logrotated apart from scripts that are already installed by CentOS
# Here is simple example how such list can look like:
#   - name: atest
#     path: /var/www/*/logs/*.log
#     options:
#       - rotate 30
#       - daily
#       - compress
#       - delaycompress
#       - sharedscripts
#       - missingok
#       - notifempty
#
#
# Name is the name of the file
# Path is path to directory/file that should be logrotated
# Options are logrotate options for given path
centos_logrotate_available_scripts: []

# List of logrotate scripts that should be removed
# Item should be name parameter from {{ centos_logrotate_available_scripts }}
centos_logrotate_remove_scripts: []
