# Install composer globally
#
- name: Install Composer
  shell: "curl -sS https://getcomposer.org/installer | {{ php_install_path }}/bin/php -- --install-dir=/usr/local/bin --filename=composer installer"
  args:
    creates: /usr/local/bin/composer
    warn: no
  tags: [php]



# Setup crontab to update composer automatically
#
- name: Setup crontab for composer updates
  cron:
    name: composer update
    special_time: weekly
    job: "{{ php_install_path }}/bin/php /usr/local/bin/composer self-update --2"
  tags: [php]
