# Configure php.ini file
#
- name: Configure php.ini file - [PHP] section
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "{{ item.key }} = {{ item.value }}"
    regexp: "^;?{{ item.key }}"
    insertafter: "[PHP]"
  with_dict: "{{ php_ini_config_option_php_section }}"
  notify: restart php-fpm
  tags: [php]

- name: Configure date time
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "date.timezone = {{ php_date_timezone }}"
    regexp: '^;?date\.timezone'
    insertafter: "[Date]"
  notify: restart php-fpm
  tags: [php]

- name: Configure MySQL socket for PDO
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "pdo_mysql.default_socket = {{ php_mysql_socket }}"
    regexp: '^;?pdo_mysql\.default_socket'
    insertafter: "[Pdo_mysql]"
  notify: restart php-fpm
  tags: [php]

- name: Configure MySQL socket for MySQLi
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "mysqli.default_socket = {{ php_mysql_socket }}"
    regexp: '^;?mysqli\.default_socket'
    insertafter: "[MySQLi]"
  notify: restart php-fpm
  tags: [php]



# Configure opcache in php.ini
#
- name: Prepare the configuration for [opcache] section
  set_fact:
    php_ini_config_option_opcache_section_options: "{{ _php_ini_config_option_opcache_section_defaults | combine(php_ini_config_option_opcache_section) }}"
  tags: [php]

- name: Configure php.ini file - [opcache] section
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "opcache.{{ item.key }}={{ item.value }}"
    regexp: "^;?opcache\\.{{ item.key }}=.*"
    insertafter: "[opcache]"
  with_dict: "{{ php_ini_config_option_opcache_section_options }}"
  notify: restart php-fpm
  tags: [php]



# Configure php-fpm.conf file
#
- name: Create php-fpm.conf file if not present
  copy:
    src: "{{ php_install_path }}/etc/php-fpm.conf.default"
    dest: "{{ php_install_path }}/etc/php-fpm.conf"
    remote_src: yes
    force: no
    owner: root
    group: root
    mode: 0644
  tags: [php]

- name: Configure PHP-FPM pid
  lineinfile:
    dest: "{{ php_install_path }}/etc/php-fpm.conf"
    line: "pid = run/php-fpm.pid"
    regexp: '^;?pid'
  notify: restart php-fpm
  tags: [php]

- name: Add example configuration file
  template:
    src: example.conf.j2
    dest: "{{ php_install_path }}/etc/php-fpm.d/example.conf-disabled"
    owner: root
    group: root
    mode: 0644
  tags: [php]
