# Install PECL extensions
#
- name: Install PECL extensions
  shell: "no | {{ php_install_path }}/bin/pecl upgrade {{ item }}"
  with_items: "{{ php_extensions }}"
  register: php_extensions_upgrade
  changed_when: "php_extensions_upgrade.stdout != 'Nothing to upgrade'"
  tags: [php]

- name: Install Zend extensions
  shell: "no | {{ php_install_path }}/bin/pecl upgrade {{ item }}"
  with_items: "{{ php_zend_extensions }}"
  register: php_zend_extensions_upgrade
  changed_when: "php_zend_extensions_upgrade.stdout != 'Nothing to upgrade'"
  failed_when: "'Build process completed successfully' not in php_zend_extensions_upgrade.stdout"
  tags: [php]


# Enable extensions in php.ini
#
- name: Enable installed PECL extensions
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "extension = {{ item }}.so"
    insertafter: "[PHP]"
  with_items: "{{ php_extensions }}"
  notify: restart php-fpm
  tags: [php]

- name: Enable installed Zend extensions
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "zend_extension = {{ item }}.so"
    insertafter: "[PHP]"
  with_items: "{{ php_zend_extensions }}"
  notify: restart php-fpm
  tags: [php]

- name: Enable opcache extension
  lineinfile:
    path: "{{ php_install_path }}/lib/php.ini"
    line: "zend_extension = opcache.so"
    insertafter: "[PHP]"
  notify: restart php-fpm
  tags: [php]
