# Install required packages for compiling PHP from source
#
- name: Install required packages for compiling PHP
  dnf:
    name: [autoconf, gcc, gcc-c++, bison, re2c, libxml2-devel, openssl-devel, bzip2-devel, libcurl-devel, libpng-devel, libwebp-devel, libjpeg-turbo-devel, libicu-devel, oniguruma-devel, freetype-devel, libzip-devel]
    state: latest
    enablerepo: PowerTools
  tags: [php]



# Download and unpack sources for PHP
# Source code will be downloaded from following page:
# https://github.com/php/php-src/releases
#
- name: Download PHP source code
  get_url:
    dest: "{{ php_sources_path }}"
    url: "https://github.com/php/php-src/archive/php-{{ php_version }}.tar.gz"
  tags: [php]

- name: Unpack downloaded PHP source code
  unarchive:
    src: "{{ php_sources_path }}/php-src-php-{{ php_version }}.tar.gz"
    dest: "{{ php_sources_path }}"
    owner: "{{ php_build_user }}"
    group: "{{ php_build_group }}"
    copy: no
    creates: "{{ php_sources_path }}/php-src-php-{{ php_version }}"
  tags: [php]



# Compile and install PHP
# It will be compiled by using different user than root.
# Install operation must be executed as sudo user
#
- name: Compile PHP
  command: "{{ item }}"
  args:
    chdir: "{{ php_sources_path }}/php-src-php-{{ php_version }}"
  with_items:
    - ./buildconf --force
    - "./configure {{ php_configure_options | join(' ') }}"
    - make
  become: true
  become_user: "{{ php_build_user }}"
  tags: [php]

- name: Install compiled PHP
  command: make install
  args:
    chdir: "{{ php_sources_path }}/php-src-php-{{ php_version }}"
  tags: [php]



# Copy php.ini file to installation path. By default php.ini is not present.
# We can use boilerplate from source codes
#
- name: Copy php.ini file to installation path
  copy:
    src: "{{ php_sources_path }}/php-src-php-{{ php_version }}/php.ini-production"
    dest: "{{ php_install_path }}/lib/php.ini"
    remote_src: yes
    force: no
    owner: root
    group: root
    mode: 0644
  tags: [php]



# Remove downloaded sources after installation
#
- name: Cleanup downloaded sources
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ php_sources_path }}/php-src-php-{{ php_version }}.tar.gz"
    - "{{ php_sources_path }}/php-src-php-{{ php_version }}"
  tags: [php]
