# Install/Update PHP to required version
# These tasks will be executed when
#  1. PHP is not installed from within this role
#  2. PHP is installed but not in desired version
#
- name: Check if PHP is installed in required version
  shell: "{{ php_install_path }}/bin/php -v | head -n1 | awk '{print $2}'"
  args:
    warn: no
  ignore_errors: yes
  changed_when: false
  register: php_version_test
  tags: [php]

- include_tasks: install.yml
  when: "php_version_test.stdout != php_version"
  tags: [php]



# Configure PHP, install extensions and composer
#
- import_tasks: configure.yml
- import_tasks: extensions.yml
- import_tasks: composer.yml



# Manage OPcache
#
- import_tasks: opcache.yml
  when: "php_manage_opcache == true"



# Make sure that PHP-FPM service is started and enabled on boot
#
- name: Start and enable PHP-FPM service
  service:
    name: php-fpm
    state: started
    enabled: yes
  tags: [php, healthcheck]
