# Version of PHP to install
php_version: "8.1.1"

# Location for PHP installation
php_install_path: /usr/local/php

# Path where to download and unpack PHP sources
php_sources_path: /usr/src

# User that should compile PHP
php_build_user: developer

# Group of the user that should compile PHP
php_build_group: developer

# List of arguments for ./configure command
php_configure_options:
 - "--prefix={{ php_install_path }}"
 - --enable-fpm
 - --disable-short-tags
 - --with-openssl
 - --with-pcre-jit
 - --with-zlib
 - --with-bz2
 - --enable-calendar
 - --with-curl
 - --enable-exif
 - --enable-gd
 - --with-webp
 - --with-jpeg
 - --enable-intl
 - --enable-mbstring
 - --with-mysqli
 - --enable-pcntl
 - --without-sqlite3
 - --without-pdo-sqlite
 - --with-pdo-mysql
 - --with-zip
 - --with-freetype
 - --with-pear

# List of key - value items that should be present in php.ini file in [PHP] section
php_ini_config_option_php_section:
 short_open_tag: "Off"
 expose_php: "Off"
 max_execution_time: "30"
 memory_limit: "256M"
 error_reporting: "E_ALL"
 display_errors: "Off"
 display_startup_errors: "Off"
 log_errors: "On"
 post_max_size: "8M"
 upload_max_filesize: "2M"

# List of key - value items that should be present in php.ini file in [opcache] section (keys without "opcache." prefix)
php_ini_config_option_opcache_section:
 enable: "1"
 memory_consumption: "128"
 interned_strings_buffer: "8"
 max_accelerated_files: "20000"
 validate_timestamps: "1"

# Configure PHP Date Timezone
php_date_timezone: UTC

# Configure MySQL socket path
php_mysql_socket: /var/lib/mysql/mysql.sock

# List of PECL extensions that should be installed and enabled
php_extensions:
 - mongodb
 - redis

# List of Zend Extensions that should be installed and enabled
php_zend_extensions:
 - xdebug
